@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Mono:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-size: auto;
    background-image: url(/img/background\ octane\ pag.png)
}

/* TEXTO PRESETS FREESTYLE  */

.principal-texto {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

h1 {
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

.presets-dominus {
    max-width: 510px;
    text-align: center;
    font-size: 50px;
    border-radius: 15px;
    background-color: black;
    padding: 7px;
}

.presets-dominus-destaque {
    max-width: 510px;
    text-align: center;
    font-size: 50px;
    color: #ff00f2;
    background-color: black;
    
}

.container-escolha {
    display: flex;
    justify-content: center;
}

.texto-escolha {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    padding: 5px;
    border-radius: 9px;

}

/* TEXTO PRESETS FREESTYLE  */


/* SETINHA DO SITE  */

.setinha {
    display: flex;
    flex-wrap: wrap;
}

.setinha2 {
    margin-top: 30px;
    margin-left: 30px;
    width: 110px;
    transition: transform 400ms ease-out;
}

.setinha2:hover {
    transform: scale(1.15);
}

/* SETINHA DO SITE  */

.jogadores-perfil {
    padding: 100px;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.texto-dos-carros {
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 5px;
    width: 529px;
    border-radius: 15px;
}

.rodape {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 27, 32);
    padding: 1px;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #111110; 
    opacity: 0;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 113, 212);
    border-radius: .3rem;
  }


.container-topo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.setinha-topo {
    margin-right: 9px;
    margin-bottom: 9px;
    width: 80px;
}

.imagem-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(0, 0, 0, 0.89);
    color: wheat;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s;
    border-radius: 100%;
}

.imagem-overlay {
    opacity: 0;
}

.imagem-overlay:hover{
    opacity: 1;

}

.icones {
    max-width: 200px;
    border-radius: 90%;
    border: 5px solid rgb(255, 255, 255);
    transition: transform 400ms ease-out;
}

.icones:hover {
    transform: scale(1.15);
}

.imagem-titulo {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 0 0 0.5rem;
}